<div class="custom-container container mt64">
  <div class="departure-layout flex flex-wrap">
    <%= render partial: "includes/cabin/departure_dates", locals: { voyage: voyage, date_bundle: date_bundle }%>

    <div class="cabin-views">
      <% voyage.cabins.each do |cabin| %>
        <%= render partial: "includes/cabin/reserve_tile", locals: { cabin: cabin, voyage: voyage } %>
      <% end -%>
    </div>
  </div>
</div>
