<div class="custom-container container mt64">
  <div class="departure-layout flex flex-wrap">
    <%= render partial: "includes/cabin/departure_dates", locals: { voyage: voyage, alternative_voyages: alternative_voyages }%>

    <div class="cabin-views">
      <% voyage.cabin_groupings.each do |cabin_grouping| %>
        <%= render partial: "includes/cabin/reserve_tile", locals: { cabin_grouping: cabin_grouping, cabin: cabin_grouping.cabin, voyage: voyage } %>
      <% end -%>
    </div>
  </div>
</div>
