@import "variables";

.sub-header {
  background: linear-gradient(to top, $sub_header_color1, $sub_header_color2);
  color: #fff;
  padding: 4px;
}

.header-width {
  max-width: 1315px;
  margin: 0 auto;
}

.nav-utility {

  .module {

    .right {
      @media (max-width: 767px) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding-bottom: 15px;
      }

      a {
        @media (max-width: 768px) {
          margin: 15px;
        }
      }
    }
  }
}

.nav-icons {
  max-height: 55px;
  line-height: 53px;
  height: 23px;

  .module-group.left {

    .module {
      display: flex;
      align-items: center;

      &.search-module {
        padding-left: 15px;
      }

      &.user-module {
        padding-right: 15px;
        padding-left: 3px;
      }
    }

    .icon {
      line-height: 53px;
      margin: 0 10px;
      color: $voyage_color;
    }
  }

  .module-group.right {

    .cart-widget-handle {
      padding-right: 10px;
      padding-left: 15px;

      .ti-bag {
        line-height: 60px;
      }

      .label.number {
        top: 13px;
        background: #323247;
      }
    }

    .star-module {
      display: flex;
      align-items: center;
      padding-right: 15px;
    }

    .icon {
      color: $voyage_color;
      margin-right: 20px;
      line-height: 53px;
    }
  }
}

.widget-handle .cart .label {
  width: 17px !important;
  height: 17px !important;
  line-height: 17px !important;
}

.module.telephone-module {
  color: $voyage_color;
  font-weight: 900;
  font-size: 26px;
  position: absolute;
  padding-right: 0;
  top: 25px;
  margin-right: 15px;

  .icon {
    color: $voyage_color;
  }
}

@media only screen and (max-width: 1345px) {
  .nav-utility {

    .module.right {
      padding-right: 15px;
    }
  }

  .nav-icons {
    padding-right: 15px;
    padding-left: 15px;
  }

  .module.telephone-module {
    padding-right: 10px;
  }
}

@media (max-width: 990px) {

  .widget-handle .function {
    position: absolute;
    width: auto;
  }
}

@media (max-width: 767px) {

  .module.telephone-module {
    top: 33px;
    font-size: 18px;

    .icon {
      font-size: 18px;
      color: $voyage_color;
    }
  }
}

@media only screen and (max-width: 600px) {

  .nav-icons {

    .icon {
      font-size: 22px;
    }
  }
  .logo-row {
    clear: both;

    // .logo.logo-dark {
    //   margin-top: 0px;
    // }
  }

  .module.telephone-module {
    top: -15px;
    font-size: 14px;

    // .icon {
    //   font-size: 18px;
    //   color: $voyage_color;
    // }
  }
}

@media only screen and (max-width: 420px) {

  .widget-handle .function {
    width: 315px;
  }
}
