<footer class="footer-2 bg-ix pt-xs-40">
  <div class="container">
    <div class="row mb-xs-24">
      <div class="col-md-3 col-sm-4">
        <h6 class="uppercase mb8">iexpedition</h6>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">iExpedition Destination</a></li>
          <li><a href="#">Expedition Activities</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-4">
        <h6 class="uppercase mb8">help & support</h6>
        <ul>
          <li><a href="#">FAQs & Contact Us</a></li>
          <li><a href="#">How to Reserve & Book</a></li>
          <li><a href="#">Booking Confirmation</a></li>
          <li><a href="#">Before you Travel</a></li>
          <li><a href="#">Payment & Currency Information</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-4">
        <h6 class="uppercase mb8">follow us</h6>
        <ul class="social-list">
          <li><a href="#">
            <i class="ti-facebook"></i><span class="pl8 social-heading">Facebook</span>
          </a></li>
          <li><a href="#">
            <i class="ti-instagram"></i><span class="pl8 social-heading">Instagram</span>
          </a></li>
          <li><a href="#">
            <i class="ti-dribbble"></i><span class="pl8 social-heading">Blog</span>
          </a></li>
        </ul>
      </div>

      <% unless controller_name == "dashboard" %>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup" class="col-md-4 col-sm-4">
          <form action="//iexpedition.us12.list-manage.com/subscribe/post?u=27883ec09a85095dc609436d3&amp;id=6c8f3078cc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <label for="mce-EMAIL">Subscribe to our mailing list</label>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required />
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_27883ec09a85095dc609436d3_6c8f3078cc" tabindex="-1" value="">
              </div>
              <div class="clear">
                <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="button">
              </div>
            </div>
          </form>
        </div>
        <!--End mc_embed_signup-->
      <% end -%>
    </div>
    <hr>
    <div class="row mb-xs-24">
      <div class="col-md-3 col-sm-4">
        <%= image_tag("footer-icon.png") %>
      </div>

      <div class="col-md-3 col-sm-4">
        <h6 class="uppercase mb8">most popular ships</h6>
        <ul>
          <% Ship.all.each do |ship| %>
            <li><a href="#"><%= ship.name %></a></li>
          <% end -%>
        </ul>
      </div>

      <div class="col-md-4 col-sm-4">
        <h6 class="uppercase mb8">most popular destinations</h6>
        <ul>
          <% Region.all.each do |region| %>
            <li><a href="#"><%= region.name %></a></li>
          <% end -%>
        </ul>
      </div>
    </div>
    <div class="row fade-half">
      <div class="col-sm-12 text-left">
        <span style="color: #fff;">© Copyright 2016 - iExpedition</span>
      </div>
    </div>
  </div>
</footer>