<footer class="footer-2 bg-ix pt-xs-40">
  <div class="container">
    <div class="row mb-xs-24">
      <div class="col-md-3 col-sm-4">
        <h6 class="uppercase mb8">iexpedition</h6>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">iExpedition Destination</a></li>
          <li><a href="#">Expedition Activities</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-4">
        <h6 class="uppercase mb8">help & support</h6>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">iExpedition Destination</a></li>
          <li><a href="#">Expedition Activities</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-4">
        <h6 class="uppercase mb8">follow us</h6>
        <ul class="social-list">
          <li><a href="#">
            <i class="ti-facebook"></i><span class="pl8 social-heading">Facebook</span>
          </a></li>
          <li><a href="#">
            <i class="ti-instagram"></i><span class="pl8 social-heading">Instagram</span>
          </a></li>
          <li><a href="#">
            <i class="ti-dribbble"></i><span class="pl8 social-heading">Blog</span>
          </a></li>
        </ul>
      </div>

      <div class="col-md-4 col-sm-4">
        <!-- For email capture mailchimp box -->
      </div>
    </div>
    <hr>
    <div class="row mb-xs-24">
      <div class="col-md-3 col-sm-4">
        <%= image_tag("footer-icon.png") %>
      </div>

      <div class="col-md-3 col-sm-4">
        <h6 class="uppercase mb8">most popular ships</h6>
        <ul>
          <li><a href="#">Ms Expedition</a></li>
          <li><a href="#">Ms Expedition</a></li>
          <li><a href="#">Ms Expedition</a></li>
          <li><a href="#">Ms Expedition</a></li>
          <li><a href="#">Ms Expedition</a></li>
        </ul>
      </div>

      <div class="col-md-4 col-sm-4">
        <h6 class="uppercase mb8">most popular destinations</h6>
        <ul>
          <li><a href="#">Antarctic Peninsula</a></li>
          <li><a href="#">Antarctic Peninsula</a></li>
          <li><a href="#">Antarctic Peninsula</a></li>
          <li><a href="#">Antarctic Peninsula</a></li>
          <li><a href="#">Antarctic Peninsula</a></li>
        </ul>
      </div>
    </div>
    <div class="row fade-half">
      <div class="col-sm-12 text-left">
        <span style="color: #fff;">© Copyright 2016 - iExpedition</span>
      </div>
    </div>
  </div>
</footer>