<div class="col-sm-12 mt32">
  <div class="flexslider">
    <ul class="slides">
      <% collection.each do |resource| %>
        <li>
          <%= image_tag(resource.image.url) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
