<div class="overflow">
  <table class="w100">
    <tr>
      <td>Antarctica Cruise General Guidelines</td>
      <td>
        <%=link_to 'Download', 'https://s3-ap-southeast-2.amazonaws.com/iexpedition-staging/important_documents/arctic/1_Antarctica_Cruise_General%20Guidelines.pdf', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>Arctic_Biosecurity</td>
      <td>
        <%=link_to 'Download', 'https://s3-ap-southeast-2.amazonaws.com/iexpedition-staging/important_documents/arctic/2_Arctic_Biosecurity.pdf', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>Arctic Wildlife-Walrus Guidelines</td>
      <td>
        <%=link_to 'Download', 'https://s3-ap-southeast-2.amazonaws.com/iexpedition-staging/important_documents/arctic/3_Arctic_Wildlife-walrus_Guidelines.pdf', target: '_blank' %>
      </td>
    </tr>
  </table>
</div>

<div class="row mt24">
  <div class="col-xs-12">
    <iframe src="https://player.vimeo.com/video/114129102" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>