<div class="overflow">
  <table>
    <tr>
      <td>Antarctica Cruise General Guidelines</td>
      <td>
        <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_ha3lsaHJfRUNwc1U', 'https://drive.google.com/open?id=0B7BrSJsFEb_ha3lsaHJfRUNwc1U', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>Arctic_Biosecurity</td>
      <td>
        <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hOFdmTUxmNFA4eXc', 'https://drive.google.com/open?id=0B7BrSJsFEb_hOFdmTUxmNFA4eXc', target: '_blank' %>
      </td>
    </tr>
    <tr>
      <td>Arctic Wildlife-Walrus Guidelines</td>
      <td>
        <%=link_to 'https://drive.google.com/open?id=0B7BrSJsFEb_hbE1HOVRNcnJ0dW8', 'https://drive.google.com/open?id=0B7BrSJsFEb_hbE1HOVRNcnJ0dW8', target: '_blank' %>
      </td>
    </tr>
  </table>
</div>

<div class="row mt24">
  <div class="col-xs-12">
    <iframe src="https://player.vimeo.com/video/114129102" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>