<div class="lightbox-grid square-thumbs" data-gallery-title="Gallery">
  <ul>
    <% collection.each do |item| %>
      <li>
        <a href="<%= item.image.url %>" data-lightbox="true">
          <div class="background-image-holder fadeIn" style="background: url(<%= item.image.url %>);">
            <%= image_tag(item.image.url, class: "background-image") %>
          </div>
        </a>
      </li>
    <% end -%>
  </ul>
</div>
