<div class="alert alert-success alert-dismissible" id="success_message" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  Success
</div>
<div class="alert alert-danger alert-dismissible" id="error_message" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  Error
</div>

<% [:notice, :error, :alert, :success].each do |level| %>
  <% unless flash[level].blank? %>
    <div id="flash_message" data-message="<%= flash[level] %>" data-level="<%= level %>"></div>
  <% end -%>
<% end -%>
