<div class="image-slider slider-all-controls controls-inside">
  <ul class="slides">
    <% collection.each do |item| %>
      <li>
        <div class="image-caption cast-shadow hover-caption" data-caption="<%= item.description %>">
          <%= image_tag(item.image.url) %>
        </div>
      </li>
    <% end -%>
  </ul>
</div>