<li><a href="https://www.facebook.com/iExpedition-962346843828511/" target="_blank">
  <i class="ti-facebook"></i><span class="pl8 social-heading" style="font-size: 1em;">Facebook</span>
</a></li>
<li><a href="https://www.instagram.com/i.expedition/" target="_blank">
  <i class="ti-instagram"></i><span class="pl8 social-heading" style="font-size: 1em;">Instagram</span>
</a></li>
<li><a href="#" target="_blank">
  <i class="ti-dribbble"></i><span class="pl8 social-heading" style="font-size: 1em;">Blog</span>
</a></li>