<div class="departure-dates">
  <div class="departure-header">All available dates
    <span class="ti-angle-down pull-right arrow-header"></span>
  </div>
  <div class="departure-body">
    <% alternative_voyages.each do |alternative_voyage| %>
      <%= render partial: "includes/cabin/departure_date", locals: { checked: voyage.start_date == alternative_voyage.start_date, start_date: alternative_voyage.start_date, end_date: alternative_voyage.end_date, voyage: alternative_voyage } %>
    <% end -%>
  </div>
</div>
