<div class="description">
  <h4>
    Description
  </h4>
  <span>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates culpa neque odio, fugiat corrupti porro vero illo ipsam delectus cumque ratione a nihil. Quasi eveniet deleniti repellendus nulla, porro vel, totam voluptatibus voluptatum temporibus vero cupiditate quam ipsa explicabo nostrum fugit ab illum itaque odio impedit soluta ex. Dignissimos ipsam voluptates, quod provident fuga, velit magni esse quis dicta autem culpa, illum iste quaerat qui ad, fugit dolore quidem obcaecati. Commodi dolore in cumque magni, non nesciunt eos sapiente enim harum quibusdam placeat temporibus maxime tempore consequatur nostrum aliquid labore dolorem ex hic excepturi ab.
  </span>
</div>
