<div class="col-xs-12 mt120">
  <div class="tabbed-content button-tabs">
    <ul class="tabs">
      <li class="active">
        <div class="tab-title">
          <span>Antarctica <br/> Peninsula</span>
        </div>
      </li>
      <li>
        <div class="tab-title">
          <span>Ross Sea & <br/> Commonwealth Bay</span>
        </div>
      </li>
      <li>
        <div class="tab-title">
          <span>European Arctic</span>
        </div>
      </li>
      <li>
        <div class="tab-title">
          <span>Canadian Arctic</span>
        </div>
      </li>
      <li>
        <div class="tab-title">
          <span>Alaska</span>
        </div>
      </li>
    </ul>
    <div class="container custom-container inherit">
      <div class="row">
        <div class="col-xs-12">
          <ul class="content">
            <%= render partial: "includes/travell_resources/antarctica_peninsula_tab" %>
            <%= render partial: "includes/travell_resources/ross_sea_tab" %>
            <%= render partial: "includes/travell_resources/european_arctic" %>
            <%= render partial: "includes/travell_resources/canadian_arctic" %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>