<div class="mt65"></div>
<div class="mt65"></div>

<div class="container custom-container">
  <h5 class="divider">
    <span>Arctic Regions</span>
  </h5>
</div>
<div class="container-fluid no-horz-pad arctic-lightbox">
  <%= render partial: "includes/arctic/regions" %>
</div>

