<h3>Hi Medium Rare! These two components aren't working properly.</h3>

<div class="container">
  <div class="col-sm-12 mt32">
    <%= render "includes/lightbox_square_thumbs" %>
  </div>

  <h5 class="divider">
    <span>Why iExpedition</span>
  </h5>
</div>
