<div class="container-fluid presentation-header expedition-travel-header flex">
  <div class="large-container container flex">
    <h1>Expedition <br/> Travel</h1>
  </div>
</div>
<section class="expedition-travel">
  <div class="large-container container">
    <div class="row">
      <div class="col-xs-12">
        <div class="container-max-935 m-center inherit">
          <hr class="bold-short-line"/>
          <h2 class="text-center">We believe that expedition travel is the best possible way to experience the wild and remote regions of the world. </h2>
        </div>
        <div class="container-max-lg-1030 m-center text-center inherit">
          <p>
            <em>Why?</em>
          </p>
          <p>
            <em>
              Expedition travel is about creating an intimate experience, allowing for you to explore and understand nature.  Small groups lead by some of the most experienced guides, take you on an epic adventure that has minimal impact on the local environs and its people.
            </em>
          </p>
          <p>
            <em>
              Our selection of expedition operators are destination experts in the regions they operate.  They all adhere to strict environmental regulations and protocols.  Most of which, have been developed by the operators to ensure sustainable environmentally sound operations in the pristine regions they operate.
            </em>
          </p>
          <p>
            <em>
              Small numbers of expeditioners allows for flexibility and to ensure that you are able to With only a small number of passengers, allowing your expedition team to be flexible with itineraries to ensure you are able to maximise your wildlife opportunities.  Our expedition teams, are made up of members who are world renowned for their experience and contributions in their field. It’s this experience that allows them to place you in the perfect location.
            </em>
          </p>
          <p>
            <em>
              Of course these experiences are expeditionary in nature, which means, no structured itineraries are in place for your journey. Due to the rugged landscapes and often unpredictable weather system, we must take each day as it comes, with confidence our expedition team will make only the right decision.
            </em>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container custom-container mt120">
    <div class="row">
      <div class="col-xs-12">
        <div class="expand">
          <h5 class="pull-left"><span class="relative">+</span> Expand all</h5>
          <h5 class="pull-left pl16"><span>-</span> Collapse all</h5>
          <ul class="clear accordion accordion-2 one-open">
            <li class="active">
              <div class="title">
                <span>What are small expedition’s vessels?</span>
              </div>
              <div class="content">
                <p>
                  Our Expedition lodges and vessels range in size from 16 to 300 passengers, each providing unique and enhanced experiences. The reason for keeping our expedition numbers low, is to ensure your experience on location is significantly enhanced. We believe that to achieve the ultimate experience, we must immerse you fully in the location.
                </p>
                <p>
                  Certain remote regions have strict regulations around how many passengers are able to land ashore at one particular time. Often this number is limited to around 100 passengers, which is why ships under 300 passengers are ideally suited to the regions like the Arctic and Antarctica where strict tourism guidelines are in place.
                </p>
              </div>
            </li>
            <li class="">
              <div class="title">
                <span>Why consider a small expedition lodge/vessel over a typical travel experience?</span>
              </div>
              <div class="content">
                <p>
                  Small expedition vessels provide both an enhanced experience and create travel ambassadors. With expert guides that are passionate about the regions you travel in, you will find yourself keenly listening to your favourite guides every word and sitting in a variety of daily lectures, discussions and documentaries.
                </p>
                <p>
                  Small expedition vessels are afforded much greater flexibility with their itineraries and daily operations, so to provide you with a better experience, based on the conditions of the day.
                </p>
              </div>
            </li>
            <li class="">
              <div class="title">
                <span>Different expedition vessels</span>
              </div>
              <div class="content">
                <p>
                  With close to 30 expedition vessels in our flotilla, we are sure that iExpedition will have an expedition vessel option perfectly suited to you. Whether you are looking for a true expedition experience, a luxury experience or to achieve your dream within a budget we have a multitude of vessels in each category to suit you.
                </p>
                <p>
                  With a flotilla of vessels from 16 passengers ice-strengthened sailing vessels, to pure expedition orientated vessels under 100 passengers and range of budget, mid-level and luxury vessels above 100 passengers, iExpedition has the largest range of expedition vessels online.
                </p>
              </div>
            </li>
            <li class="">
              <div class="title">
                <span>Adventure Activities</span>
              </div>
              <div class="content">
                <p>
                  With less passengers on board and much greater passenger to expedition staff ratio’s, our lodges and vessels are able to offer a variety of unique adventure activities. Some of the options below are provided free of change, while others are paid-for optional extras and may require previous levels of experience for participation.
                </p>
                <div class="flex">
                  <ul>
                    <li>Polar Plunge</li>
                    <li>Trekking/Snow-shoeing</li>
                    <li>Snorkelling</li>
                    <li>Photography</li>
                  </ul>
                  <ul>
                    <li>Camping</li>
                    <li>Climbing</li>
                    <li>Scuba Diving</li>
                  </ul>
                  <ul>
                    <li>Kayaking</li>
                    <li>Skiing</li>
                    <li>Stand Up Paddle boarding</li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="">
              <div class="title">
                <span>A typical Expedition Day</span>
              </div>
              <div class="content">
                <p>
                  Expedition days are long, but they are certainly not boring. Your first day will often feel like many days rolled into one. With so many amazing experiences, memories and conversations with fellow travelers, expedition days certainly are very exciting. A typical day on your expedition may follow a similar course as the outline below:
                </p>
                <table>
                  <tr>
                    <td>06:00</td>
                    <td>First announcement for Breakfast</td>
                  </tr>
                  <tr>
                    <td>06:00-07:00</td>
                    <td>Breakfast</td>
                  </tr>
                  <tr>
                    <td>07:00-07:30</td>
                    <td>Prepare for first excursion</td>
                  </tr>
                  <tr>
                    <td>07:30-10:00</td>
                    <td>First daily Zodiac excursion or shore landing</td>
                  </tr>
                  <tr>
                    <td>10:00</td>
                    <td>Morning tea and lecture</td>
                  </tr>
                  <tr>
                    <td>12:00-13:30</td>
                    <td>Lunch and repositioning</td>
                  </tr>
                  <tr>
                    <td>13:30-14:30</td>
                    <td>Lecture/Discussion/Doco</td>
                  </tr>
                  <tr>
                    <td>14:30-15:00</td>
                    <td>Prepare for second excursion</td>
                  </tr>
                  <tr>
                    <td>15:00-17:00</td>
                    <td>Second daily Zodiac excursion or shore landing</td>
                  </tr>
                  <tr>
                    <td>17:00-18:00</td>
                    <td>Afternoon tea</td>
                  </tr>
                  <tr>
                    <td>19:00-20:00</td>
                    <td>Dinner</td>
                  </tr>
                  <tr>
                    <td>20:30</td>
                    <td>Evening Lecture/Discussion/Doco</td>
                  </tr>
                </table>
                <span>
                  <sup>*</sup>Timings are provided as a reference only. All expedition itineraries are subject to change, based on the conditions of the day.
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>