<section class="cover fullscreen overlay parallax">
  <div class="background-image-holder">
    <%= image_tag("homepage-hero.png") %>
  </div>
  <div class="container v-align-transform">
    <div class="row">
      <%= render "includes/reusable_search_form" %>
    </div>
  </div>
</section>