<div class="container-fluid presentation-header travel-resources-header flex">
  <div class="large-container container flex">
    <h1>Travelling <br/> Resources</h1>
  </div>
</div>
<section class="large-container container travel-resources">
  <div class="row">
    <div class="col-xs-12">
      <hr class="bold-short-line"/>
      <h2 class="text-center">This page should provide you with all the information required about travelling to your expedition destination.</h2>
    </div>
    <%= render partial: "includes/travell_resources/travell_resources_tabs.html.erb" %>
  </div>
</section>