<h1>Congratulations, your booking with iExpedition is now confirmed!</h1>
<div class="important_information">
  <span>iEXPEDITION OVERSEAS CONTACT DETAILS:</span>
  <p>
    While you are overseas we recommend the following lines of communication with iExpedition:
  </p>

  <table class="table">
    <tbody>
    <tr>
      <td> Telephone</td>
      <td> +61-7-3150-4017</td>
    </tr>
    <tr>
      <td> Skype</td>
      <td> i.Expedition</td>
    </tr>
    <tr>
      <td> Facebook Messenger</td>
      <td> iExpedition (free chat and calls)</td>
    </tr>
    </tbody>
  </table>
  <p>
  Please note your expedition cruise vouchers / final documents will be provided by the operator around 30-45 days prior to your embarkation, upon receipt of your final balance and successful completion of all required documents and will be uploaded to your MYiX account.
  </p>
  <p>
  You will need to complete all personal, medical and waiver documents within the allocated time for your upcoming expedition. These documents are available for download or links provided at the top of this page.
  </p>
  <p>
  Please also ensure you complete all required personal details in the iExpedition dashboard.
  Your personal details and cruise contract documents, need to be completed within 14 days of booking and final documentation needs to be completed no later than 125 days prior to your expedition departure date. Non-submission of documentation may result in the Cruise Operator not issuing your final cruise vouchers and may result in cancellation by the Operator.
  </p>
  <div>
    <span>Mandatory Travel Insurance:</span>
    <p>
      Travel insurance is mandatory for all iExpedition clients; if you are unclear about travel insurance please contact us so we can ensure that you have the correct coverage.
      Your travel insurance must cover you for emergency & medical repatriation from the region you are travelling, to an appropriate value. Usually Platinum credit cards coverage will be sufficient, however you will need to further clarify this with your financial institution.
      If you are booking more than 365 days from your departure, we recommend that you a) take out a Deposit/Cancellation Policy or b) use a provider like Covermore Insurance who will issue travel insurance policies 18 months from departure.
    </p>
  </div>
  <div>
    <span>Visa:</span>
    <p>
      Please consult your local embassy for visa requirements to to the countries you will be visiting. Visa requirements are constantly changing so please ensure you have checked with your local embassy as to the correct requirements for your nationality.

      You must also ensure that your passport has a validity of more than six months from the day you intend to return home.
    </p>
  </div>

  <div>

    <span>Important:</span>
    <p>
      Please do bear in mind that if your expedition booking is in USD and you would like to pay your final balance in AUD, you will need to check with iExpedition on the day you intend to process your payment(s) for our exchange rate of the day. As we do not convert our expedition product into currencies other than provided by the operator, the onus is on the client to be aware of the exchange rate between the booking currency and their local currency.

      You can remove any currency risk by paying in full at any time. Further to this, a small number of expedition operators offer currency incentive programs, when your pay in full shortly after deposit. If you are interested in knowing more, please check with us to see if your vessel offers such incentive.

      Expedition operators reserve the right to impose a fuel surcharge.

      Your final payment is due 95 – 125 prior to your embarkation date. Please note if your expedition is confirmed with either Quark Expedition or One Ocean Expeditions your final payment is due 125 prior to embarkation.

      Finally please ensure that you read iExpedition Terms & Conditions prior to departure, as well as all expedition documentation in your user dashboard.

      If you have any questions/queries about your expedition or travelling to and from your expedition, please call us on 1800 950 577 or email us at reservations@iexpedition.com and we will be most happy to help you.
    </p>
  </div>

  <p class="text-center">
    Keep up to date with the team at iExpedition, new and exciting products, promotions and updates on our social media accounts:
  </p>
  <ul class="social-list">
    <%= render partial: "includes/social_links" %>
  </ul>
</div>