<div class="container">
    <div class="row">
      <% ship.cabins.group_by(&:name).map { |name, items| items.first }.each do |cabin| %>
        <%= render partial: "includes/cabin/view_tile", locals: { cabin: cabin } %>
        <h5 class="divider"></h5>
      <% end -%>
    </div>
</div>