<div class="content">
  <div class="filter flex flex-center">
    <label class="filter-item" for="">
      <input type="checkbox" name="search[<%= group_name %>][]" value="<%= value %>" <%= "checked" if selected %>>
      <span><%= label %></span>
    </label>
  </div>
</div>