<% labels ||= values %>
<% selected ||= nil %>
<li>
  <div class="title">
    <span><%= filter_name %></span>
  </div>
  <% values.zip(labels).each do |value, label| %>
    <%= render partial: "includes/search/radio_button_filter_item", locals: { group_name: group_name, value: value, label: label, selected: (selected == value) } %>
  <% end -%>
</li>