<div class="container">
  <div class="col-md-6 light-border-right">
    <%= !@destination.overview.blank? ? simple_format(@destination.overview) : simple_format("Lorem ipsum Est sint aute non elit nostrud anim pariatur. Lorem ipsum Veniam Duis enim Ut mollit enim in id sit sit do cupidatat. Lorem ipsum Eu culpa mollit velit Ut adipisicing. \n\n Lorem ipsum Sint id enim dolor est dolor. Lorem ipsum Deserunt consecteturLorem ipsum Culpa exercitation cupidatat sed Duis occaecat occaecat. \n\n Lorem ipsum Enim Duis sed magna laboris est id. Lorem ipsum Cupidatat dolore tempor in eiusmod enim. Lorem ipsum Nulla sit dolor sit consectetur eiusmod eiusmod. Lorem ipsum In voluptate Duis mollit aliquip tempor. \n\n Lorem ipsum Dolor irure deserunt cillum non in nisi est consectetur. Lorem ipsum Dolore nostrud fugiat dolore adipisicing in elit laborum in incididunt anim culpa. Lorem ipsum Elit occaecat in Duis enim dolor sit incididunt. Lorem ipsum Do ullamco in ea sunt eiusmod.") %>
  </div>
  <div class="col-md-6 bgi-watermark">
      <%= image_tag("#{@destination.name.downcase.sub(' ', '-')}-watermark.png") %>
    <div class="col-md-8 info-table-holder">
      <table class="table">
        <tbody>
          <tr>
            <td class="cursive-table-header"><%= @destination.name %></td>
          </tr>
          <tr>
            <td class="cursive-table-header">Peak times March-May</td>
          </tr>
          <tr>
            <td class="cursive-table-header">Rides with Huskies</td>
          </tr>
          <tr>
            <td class="cursive-table-header">Watching marching penguins</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>