<li class="">
  <div class="tab-content">
    <h5 class="pull-left open-all"><span class="relative">+</span> Expand all</h5>
    <h5 class="pull-left pl16 close-all"><span>-</span> Collapse all</h5>
      <ul class="clear accordion accordion-2 one-open expedition-advantages">
        <li class="active">
          <div class="title">
            <span>Can I book online?</span>
          </div>
          <div class="content">
            <p>
              You certainly can. The iExpedition platform is setup, taking into account our partners current availability. When you are reviewing our voyages, you will note that they are available to be reserved or booked.
            </p>
            <p>
              Reserving a berth or cabin provide you with the opportunity to secure the space on board the expedition of your choice with the knowledge that the space will be secure for you obligation free, once iExpedition confirm availability. We can usually hold the space for a period of 3-5 business days for you, at which point the cabin is released back to the vessel or confirmed with a 25% deposit.
            </p>
            <p>
              If the voyage of interest, shows the Book Now button against the cabin of your choice, this means the cabin is available for purchase and you can confirm the cabin with deposit online.
            </p>
            <p>
              <em>
                It is important to note, iExpedition will confirm the booking at the point of receiving your deposit payment and confirmation is subject to availability by the operator at the time of deposit.
              </em>
            </p>
          </div>
        </li>
      <li class="">
        <div class="title">
          <span>I have found the perfect cabin, but would like some to consider my travels. What are my options?</span>
        </div>
        <div class="content">
          <p>
            As above, you are more than welcome to reserve a cabin for a period of 3-5 days. Once iExpedition receives your cabin request, we will then check with the operator that availability exists and update you. When availability is confirmed, we will hold the cabin obligation free for a period of 3-5 days as determined by the operator.
          </p>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>I’m a solo traveler, but don’t want to pay a single supplement. Are there expedition options for me?</span>
        </div>
        <div class="content">
          <p>
            Definitely, almost all of our expedition vessels allow solo travellers to share in a twin cabin with a member of the same sex, to avoid paying a single supplement rate.
          </p>
          <p>
             Other options for solo travellers include; Quad and Triple cabins, as well as dedicated single cabins.
          </p>
          <p>
            If you are considering a Quad or Triple berth, please just be aware that as these are the cheapest cabins available, they sell out the quickest, so you need to get in quick.
          </p>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>We are a group of family/friends, do you take group bookings?</span>
        </div>
        <div class="content">
          <p>
            Of course, you will just need to contact us and let us know your group particulars. Our team will then work across a number of options, to provide your group with a number of options to consider.
          </p>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>We are a family, can we travel with our children?</span>
        </div>
        <div class="content">
          <p>
            Depending on the ages of your children. The consensus across almost all expedition vessel is a minimum age of around 12 years. However, a number of our operators are more family friendly and will travel with children as young as 8 years. Our team can provide you with assistance on the best family friendly options, as a number of our operators provide family discounts / benefits.
          </p>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>I’d like to book extra nights accommodation, can you tell me what hotel is included in my expedition?</span>
        </div>
        <div class="content">
          <p>
            If you arriving at your embarkation point early and require additional nights accommodation. We recommend letting iExpedition know and booking this with your expedition provider.
          </p>
          <p>
            The reason for this, is that sometimes the expedition operators, will change hotels and if you have made an earlier booking, this will not be moved across to the new hotel. Alternatively, if you would prefer to look after your own arrangements, your cruise hotel name will be provided on your final cruise documents, which are supplied around 30-45 days prior to embarkation.
          </p>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>How far in advance should I consider confirming my trip?</span>
        </div>
        <div class="content">
        <p>
          It really depends on the destination and itinerary. Some destination, itinerary and cabin options are of course more popular than others.
        </p>
        <p>
          <em>Antarctica</em> - with operators releasing their dates around 18 months in advance. You should really consider booking around 12-18 months to ensure that the itinerary and cabin combination of your choice is available.
        </p>
        <p>
          <em>The Arctic</em> - Dates are usually released around 12 months in advance, however increasingly operators are now releasing these 18 months out. The Arctic is not as popular as Antarctic, however we would still recommend booking around 8-12 months in advance.
        </p>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>Can I book through my travel agent?</span>
        </div>
        <div class="content">
          <p>
            Yes, you are more than welcome to use your normal travel agent to make your booking. If you are intending on booking with your agent, please advise us, so that we can keep them updated and provide them with accurate information.
          </p>
          <p>
            We are happy to work with you or your agent, whichever is to your preference.
          </p>
          <p>
            Just ask your agent to contact us at:
          </p>
          <ul>
            <li>T<span class="pl16">1300 XXX (inside Australia)</span></li>
            <li>T<span class="pl16">+61-7-XXXX-XXX (outside Australia)</span></li>
            <li>E <span class="pl16"><a href="mailto:agents@iexpedition.com">agents@iexpedition.com</a></span></li>
          </ul>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>What are you payment terms?</span>
        </div>
        <div class="content">
          <p>
            All of our products have a requirement of a 25% deposit in the currency of your booking to confirm. You then do not need to make any further payments until your final payment is due 95-125 days from your departure.
          </p>
          <p>
            As is standard across the travel industry, all deposit payments are non-refundable.
          </p>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>My iExpedition is confirmed, what’s next:</span>
        </div>
        <div class="content">
          <p>
            Once you have received confirmation from iExpedition that your booking is confirmed, you Dashboard will unlock additional details we require to the finalise your booking.
          </p>
          <p>
            You will be able to update your personal details in full, download all the required cruise documentation. At a minimum we do require your personal details and cruise contract to be completed, signed and uploaded to your dashboard within 14 days of paying your deposit. Once this information is on file, you will received your Confirmed Itinerary document in your inbox and available for download in your Dashboard.
          </p>
          <p>
            When you are inside 12 months of travel, you will need to complete all remaining documentation and upload to your Dashboard. This document must be uploaded prior to your final payment.
          </p>
          <p>
            Your expedition operator will then release your final documents around 30-45 days from departure.
          </p>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>What should I pack for my expedition?</span>
        </div>
        <div class="content">
          <p>
            Each of our destinations do require slightly different expedition gear and it is best to review the gear checklist after your booking is confirmed.
          </p>
          <p>
            You will be able to update your personal details in full, download all the required cruise documentation. At a minimum we do require your personal details and cruise contract to be completed, signed and uploaded to your dashboard within 14 days of paying your deposit. Once this information is on file, you will received your Confirmed Itinerary document in your inbox and available for download in your Dashboard.
          </p>
          <p>
            All most all of our expeditions will require the follow core essentials:
          </p>
          <ol>
            <li>Waterproof pants, gloves & jacket (if not provided)</li>
            <li>Good quality expedition shoes/boots (if not provided)</li>
            <li>Sun, skin and eye protection</li>
          </ol>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>Do I need a Visa? </span>
        </div>
        <div class="content">
          <p>
            You will need to check if your required to obtain a tourist visa prior to arrival based on the nationality of your passport. A good place to check this easily is at –
            <a href="http://www.visahq.com">www.visahq.com</a>
          <p>
            Visa Requirements Matrix:
          </p>
          <table>
            <tr>
              <td></td>
              <td>Australian</td>
              <td>New Zealand</td>
              <td>UK</td>
              <td>European</td>
              <td>USA</td>
              <td>Canadian</td>
            </tr>
            <tr>
              <td>Chile</td>
              <td>Y</td>
              <td>N</td>
              <td>N</td>
              <td>N</td>
              <td>Y</td>
              <td>Y</td>
            </tr>
            <tr>
              <td>Argentina</td>
              <td>Y</td>
              <td>N</td>
              <td>N</td>
              <td>N</td>
              <td>Y</td>
              <td>Y</td>
            </tr>
            <tr>
              <td>Australia</td>
              <td>/</td>
              <td>N</td>
              <td></td>
              <td></td>
              <td>N</td>
              <td>N</td>
            </tr>
            <tr>
              <td>New Zealand</td>
              <td>N</td>
              <td>/</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Scotland</td>
              <td>N</td>
              <td>N</td>
              <td>N</td>
              <td>N</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Norway</td>
              <td>N</td>
              <td>N</td>
              <td></td>
              <td>N</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Iceland</td>
              <td>N</td>
              <td>N</td>
              <td></td>
              <td>N</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Greenland</td>
              <td>Y</td>
              <td>Y</td>
              <td>Y</td>
              <td>Y</td>
              <td>Y</td>
              <td>Y</td>
            </tr>
            <tr>
              <td>Russia</td>
              <td>N</td>
              <td>N</td>
              <td>N</td>
              <td>N</td>
              <td>N</td>
              <td>N</td>
            </tr>
            <tr>
              <td>USA</td>
              <td>Y</td>
              <td>N</td>
              <td></td>
              <td></td>
              <td>N</td>
              <td>N</td>
            </tr>
            <tr>
              <td>Canada</td>
              <td>N</td>
              <td>N</td>
              <td></td>
              <td></td>
              <td>N</td>
              <td>N</td>
            </tr>
          </table>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>Can you book my flights and hotels?</span>
        </div>
        <div class="content">
          <p>
            At the moment iExpedition is only focusing on expedition voyages and lodges, so we are not providing flight and hotel bookings. However, we will provide you with the most detailed flight and hotel recommendations around your booking, so you can book online with confidence or work with your agent.
          </p>
          <p>
            Upon booking, you will receive travel details pertaining to key dates and locations for your booking. iExpedition will provide a detailed account of your:
          </p>
          <ul>
            <li>
              -<span class="pl16">Key times, dates and meeting points:</span>
              <ul>
                <li>
                  -<span class="pl16">Arrival city and airport</span>
                </li>
                <li>
                  -<span class="pl16">Key times, dates and meeting points</span>
                </li>
                <li>
                  -<span class="pl16">Hotel recommendations</span>
                </li>
              </ul>
            </li>
            <li>
              -<span class="pl16">Departure requirments, including:</span>
              <ul>
                <li>
                  -<span class="pl16">Departing city and airport</span>
                </li>
                <li>
                  -<span class="pl16">Key times and dates</span>
                </li>
                <li>
                  -<span class="pl16">Hotel recommendations </span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>Can I use Uber and AirBnB?</span>
        </div>
        <div class="content">
          <p>
            Yes, AirBnB operates in all most all cities and towns our expeditions depart from and provide an amazing and economic way to experience how the locals live.
          </p>
          <p>
            At this stage Uber is only in larger cities, you can check if Uber is available in the city your traveler to here - <a href="https://www.uber.com/cities">https://www.uber.com/cities</a>
          </p>
          <p>
            Download the apps here:
          </p>
          <ul>
            <li><span class="faq-width-65">Uber - </span> <span class="pl16"><a href="https://itunes.apple.com/us/app/uber/id368677368?mt=8">Apple</a> / <a href="https://play.google.com/store/apps/details?id=com.ubercab">Android</a> / <a href="https://www.microsoft.com/en-us/store/apps/uber/9wzdncrfhxrd">Windows</a></span> </li>
            <li><span class="faq-width-65">AirBnb - </span><span class="pl16">Apple / Android / Windows</span></li>
          </ul>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>Do I need travel insurance?</span>
        </div>
        <div class="content">
          <p>
            Travel insurance is mandatory on all of our expeditions. Each destination, has slightly different requirements, so please be sure to check your travel documents or ask your iExpedition consult.
          </p>
          <p>
             If you do not have the appropriate level of cover you may be refused joining the expedition.
          </p>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>What if I need to cancel my expedition?</span>
        </div>
        <div class="content">
          <p>
            Our deposits are always non-refundable and once you are inside 95-120 days of travel all monies are non-refundable. Any additional payments made above the deposit, prior to your final payment due date are refundable.
          </p>
          <p>
            Should you need to cancel and can potentially travel the following season, we are more than happy to ask the operator of your expedition if your deposit can be transferred onto an expedition the following season. This is always at the discretion of the expedition operator and only a consideration, when you are outside your final payment date.
          </p>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>What information do I need to complete?</span>
        </div>
        <div class="content">
          <p>
            <em>
              You will need to complete the personal details and bookings forms for both iExpedition and your expedition vessel. Your personal details and bookings forms should be completed at the time of your booking. However your medical forms should be completed when you are within 12 months of travel. Once you have completed all fields in the required forms, please email them to – <a href="documents@iexpedition.com">documents@iexpedition.com</a>
            </em>
          </p>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>What information do I need to complete?</span>
        </div>
        <div class="content">
          <p>
            <em>
              Your pre-departure and boarding passes will be received around 30-45 days out from departure. These are eDocs and will be emailed to you, so please ensure you have supplied us with your best email address.
            </em>
          </p>
          <p>
            <em>
              Please note, final expedition documents, will not be supplied until all forms are 100% complete. Expedition documents, must be received more than 90 days out from your departure. If expeditions documents are not complete and returned to iExpedition in this timeframe, you expedition vessel may cancel your booking.
            </em>
          </p>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>What electrical supply is on board the expedition vessels?</span>
        </div>
        <div class="content">
          <p>
            All expedition vessels have either European (two round prong) or USA (two flat prong) sockets. You will need to ensure you travel with a sufficient adaptor.
          </p>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>Is internet, email and telephone communication accessible on the expeditions?</span>
        </div>
        <div class="content">
          <p>
            Wifi and email are available on most of our expeditions and are almost always an additional cost. You will need to consider that due to the remoteness of the region, often the connection is intermittent and slow.
          </p>
          <p>
            If you need the internet for anything more than basic functions, like email and social platforms, please let us know and we can advise.
          </p>
          <p>
            Satellite phones are on board all expeditions, however are for emergency use only.
          </p>
        </div>
      </li>
    </ul>
  </div>
</li>

