<li class="">
  <div class="tab-content">
    <h5 class="pull-left open-all"><span class="relative">+</span> Expand all</h5>
    <h5 class="pull-left pl16 close-all"><span>-</span> Collapse all</h5>
      <ul class="clear accordion accordion-2 one-open expedition-advantages">
        <li class="active">
          <div class="title">
            <span>Why should I travel with iExpedition?</span>
          </div>
          <div class="content">
          </div>
        </li>
      <li class="">
        <div class="title">
          <span>Do the expedition vessels on your site comply with the relevant tourism bodies to protect the environments you travel to?</span>
        </div>
        <div class="content">
        </div>
      </li>
    </ul>
  </div>
</li>
