<li class="active">
  <div class="tab-content">
    <h5 class="pull-left"><span class="relative">+</span> Expand all</h5>
    <h5 class="pull-left pl16"><span>-</span> Collapse all</h5>
      <ul class="clear accordion accordion-2 one-open">
        <li class="active">
          <div class="title">
            <span>Why should I travel with iExpedition?</span>
          </div>
          <div class="content">
            <p>
                At iExpedition our focus is to find you the expedition voyage that best suits your personal interests, your travel dates and budget requirements. We work with only expeditions that provide a dedicated expedition experience, this means small vessels from 20 – 400 passengers and the vessels must have an on board education program, staffed by experts in the field, with an aim to create ambassadors for these sensitive environmental regions.
              </em>
            </p>
            <p>
              <em>
                Our relationship with over 25 expedition vessels, allows us to present a completely unbiased array of expedition options that fit you needs, across a range over 300 expedition voyages. Our advanced online search capabilities and access to view availability online, enable you to quickly find expeditions, based on preference that are important to you and our online availability, shows you very quickly if the option is available.
              </em>
            </p>
            <p>
              <em>
                iExpedition.com allows you to easily and independently find and book your next expedition to the worlds most remote and environmentally sensitive regions.
              </em>
            </p>
          </div>
      </li>
      <li class="">
        <div class="title">
          <span>Do the expedition vessels on your site comply with the relevant tourism bodies to protect the environments you travel to?</span>
        </div>
        <div class="content">
          <p>
            <em>
              Yes, in the Antarctic all of our expedition vessels must comply with the strict measures in place by the International Association of Antarctic Tour Operators (IAATO). While in the Arctic, they comply with the Association of Expedition Cruise Operators (AECO) guidelines.
            </em>
          </p>
        </div>
      </li>
      <li>
        <div class="title">
          <span>What are the benefits of the expedition vessels that iExpedition works with? </span>
        </div>
        <div class="content">
          <p>
            <em>
              iExpedition works only with expedition vessels dedicated towards delivering the highest level of expedition standards. Of course the experience on all expedition vessel will differ and if you have a question about any of the vessels and the experience on board, you can let us know by:
            </em>
          </p>
          <ul>
            <li><em>Calling us –</em></li>
            <li><em>Email us –</em></li>
            <li><em>Live chat us -</em></li>
          </ul>
          <p>
            What is included in my iExpedition booking?
            <em>
              All iExpedition voyages are quoted on an all-inclusive basis, this means on board, all meals and excursions are included in the cost of your passage. All expedition vessels will include boots for you to wear ashore, while a few vessels also include complimentary expedition jackets.
            </em>
          </p>
          <p>
            What is not included in my iExpedition booking?
            <em>
              Additional expenses on board may include; Alcohol, laundry, gratuities. Adventure activities are also not included in the cost of your passage.
            </em>
          </p>
        </div>
      </li>
      <li>
        <div class="title">
          <span>I am a single traveler, what are my options?</span>
        </div>
        <div class="content">
          <p>
            For single travelers we offer a number of options:
          </p>
          <ol>
            <li>
              Share in a same-sex Quad, Triple or Twin cabin and pay the twin rate;
            </li>
            <li>
              Find an expedition vessel with a dedicated single cabin;
            </li>
            <li>
              Have a twin cabin as private use, this option will always incur a single supplement and you can expect these to range from 1.5x-2x the standard twin rate, depending on the expedition vessel and cabin category.
            </li>
          </ol>
        </div>
      </li>
      <li>
        <div class="title">
          <span>What adventure activities are available on your expeditions?</span>
        </div>
        <div class="content">
          <p>
            Not all adventure options are available on all expeditions. To check if an adventure activity is available on a voyage you are interested in, select your adventure options in our advanced search function.
          </p>
          <ul>
            <li>Zodiac Excursions - free</li>
            <li>Polar Plunge - free</li>
            <li>Camping</li>
            <li>Kayaking</li>
            <li>Snow Shoeing</li>
            <li>Mountaineering</li>
            <li>Ice-Climbing</li>
            <li>Snorkelling</li>
            <li>Scuba Diving</li>
            <li>Photography</li>
            <li>Stand-Up Paddle Boarding</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="title">
          <span>Can iExpedition help with my flight and hotel bookings?</span>
        </div>
        <div class="content">
        </div>
      </li>
      <li>
        <div class="title">
          <span>What should I expect from a typical expedition day?</span>
        </div>
        <div class="content">
        </div>
      </li>
      <li>
        <div class="title">
          <span>I want to visit specific locations on my expedition, can this be guaranteed?</span>
        </div>
        <div class="content">
          <p>
            Unfortunately not, all of our expedition voyages and lodges are expeditionary in nature. As they operate in the remotest of regions, they must take into account the conditions of each day/hour.
          </p>
          <p>
            You can be assured that our expedition teams are of the highest calibre and make expert decisions, with the group's best interest and safety at the forefront of their decision making process. Sometimes, this does mean that highlights of expeditions, maybe missed if the conditions do not allow for it.
          </p>
          <p>
            Ultimately, our operators place complete faith in their expedition leaders and team and the expedition follows their command.
          </p>
        </div>
      </li>
      <li>
        <div class="title">
          <span>Is there a doctor on the expedition?</span>
        </div>
        <div class="content">
          <p>
            Yes, it a requirement of all expedition vessels to travel with a qualified medical doctor on board. The doctor on board, will operate a small, but well equipped infirmary. The ship doctor will be introduced to you on board and you will be made well aware of the location of the infirmary
          </p>
        </div>
      </li>
      <li>
        <div class="title">
          <span>What languages are spoken on the expeditions?</span>
        </div>
        <div class="content">
          <p>
            <em>
              The majority of expeditions are based in English, however the expedition staff are usually from all over the world, so often there are a number of languages spoken on board. If you do not have great comprehension of English, a small number of vessels operate in languages other than english, so let us know and we will find the best options for you.
            </em>
          </p>
        </div>
      </li>
      <li>
        <div class="title">
          <span>Are there environmental guidelines I need to follow in these regions?</span>
        </div>
        <div class="content">
            <ul>
              <li>
                <a href="http://iaato.org/visitor-guidelines">
                  IAATO – Visitor Guidelines
                </a>
              </li>
              <li>
                <a href="http://iaato.org/dont-pack-a-pest">
                  Don’t Pack a Pest
                </a>
              </li>
            </ul>
        </div>
      </li>
      <li>
        <div class="title">
          <span>Are expedition jackets provided? If not, what sort of jacket/wet weather gear should I pack?</span>
        </div>
        <div class="content">
          <p>
            Increasingly, our expedition operators are providing expedition jackets as part of their voyage inclusions. You will need to check, your voyage inclusions/exclusions for exact details.
          </p>
          <p>
            If your voyage does not include an expedition jacket, you will need to provide your own. In our Polar regions layered is what is most important, rather than the size of your jacket. By having quality socks and thermals and then applying simply layering techniques on top of these and quality waterproof outterwear, you will be well equipped.
          </p>
        </div>
      </li>
      <li>
        <div class="title">
          <span>Are Polar Expedition’s the only expeditions you offer?</span>
        </div>
        <div class="content">
          <p>
            No, if you are interested in expeditions to other regions, we can certainly assist you. At the moment we are focusing on our Polar Expeditions online, but we will soon be introducing expeditions in other regions online.
          </p>
        </div>
      </li>
      <li>
        <div class="title">
          <span>What is the best sea sickness medicine/prevention?</span>
        </div>
        <div class="content">
          <p>
            This question is best answered by your own physician, as your own medical circumstance must be taken into account.
            Scopoderm is by far the most effective sea-sickness medicine we are aware of at this point. iExpedition, is simply providing an opinion here, this is not medical advice and you must consult your GP prior to taking the medication, as it has known side effects.
          </p>
        </div>
      </li>
      <li>
        <div class="title">
          <span>Can I fly my Drone / Unmanned Ariel Vehicle (UAV) on my expedition?</span>
        </div>
        <div class="content">
          <p>
            In Antarctic and the Sub-Antarctic Islands Drones/UAV’s are banned from use and not to operative in these environmentally sensitive regions.
          </p>
          <p>
            If your expedition is outside of Antarctic or Sub-Antarctic regions, please ask use before travelling with your Drone. We will check with the operator of your expedition and let you know if it ok to operate it on your expedition.
          </p>
        </div>
      </li>
      <li>
        <div class="title">
          <span>Other expedition regions we focus on include</span>
        </div>
        <div class="content">
          <ul>
            <li>Patagonia</li>
            <li>The Amazon</li>
            <li>The Galapagos Islands</li>
            <li>The Kimberley, Australia</li>
            <li>The Sub-Antarctic Islands of New Zealand & Australia</li>
            <li>The Russian Far East</li>
            <li>South-East Asia</li>
            <li>South Pacific</li>
            <li>Repositioning Voyages</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</li>
