<li class="">
  <div class="tab-content">
    <h5 class="pull-left open-all"><span class="relative">+</span> Expand all</h5>
    <h5 class="pull-left pl16 close-all"><span>-</span> Collapse all</h5>
      <ul class="clear accordion accordion-2 one-open expedition-advantages">
        <li class="active">
          <div class="title">
            <span>I would prefer a Queen or King bed, can this be organised?</span>
          </div>
          <div class="content">
            <p>
              Most expedition vessels have separated beds. This is mainly due to the use of the ship prior to being used as expedition vessels. The majority of the expedition vessels have a combination of bunk and twin bedding configurations in the entry-level to mid-range cabins.
            </p>
            <p>
              With the expedition level vessels queen and king beds are usually provided in the upper level suite cabins.
            </p>
            <p>
              If you are to look at our Superior and Luxury vessels, then these almost certainly offer the option for queen and king bedding options in their entry-level twin cabins.
            </p>
            <p>
              When considering your bedding configuration it is important to consider your voyage may have  number of sailing days on the open ocean. If your companion is susceptible to seasickness, often it is more comfortable to travel in twin beds.
            </p>
          </div>
        </li>
      <li class="">
        <div class="title">
          <span>I have specific dietary requirements, can you cater to my needs?</span>
        </div>
        <div class="content">
          <p>
            All of our expedition vessels pride themselves on their level of hospitality provided and travel with qualified and experienced chefs. You can rest assured, just because you have specific requirements, you will not be eating the same meal at every sitting.
          </p>
          <p>
            Please be sure to note on your booking forms any dietary requirements.
          </p>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>Is the expedition vessel air-conditioned?</span>
        </div>
        <div class="content">
          <p>
            All of our expedition vessels are climate controlled throughout the cabins and common areas. When you are inside the vessel you can be assured it will be pleasant.
          </p>
          <p>
            Please be sure to note on your booking forms any dietary requirements.
          </p>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>What is the dress code on board?</span>
        </div>
        <div class="content">
          <p>
            The dress code across the majority of expeditions is relaxed smart-casual, certainly no penguin suits are required. Even our luxury vessels like to keep dress code on board at a smart casual level.
          </p>
          <p>
            If you are travelling on one of our Luxury or Ultra Luxury voyages, please just check with us, exactly what dress code is required.
          </p>
        </div>
      </li>
      <li class="">
        <div class="title">
          <span>Is tipping expected after the expedition?</span>
        </div>
        <div class="content">
          <p>
            Like most cruises, tipping is expected, but totally discretionary. Depending on the level of expedition vessel you are travelling on, tipping is recommended at USD$10-$20 per person per day.
          </p>
        </div>
      </li>
    </ul>
  </div>
</li>
