/****** PLACE YOUR CUSTOM STYLES HERE ******/
@import "variables";

.table {
  text-align: left;
}

.icon {
  font-size: 30px;
}

.icon-tabs .tabs li {
  width: 10%;
}

.btn:hover {
  background: #000;
  color: #fff;
}
.btn:visited {
  color: #000;
}
.btn {
  color: #000;
  border: 1px solid #000;
  width: 60%;
}

h5.divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid grey;
  line-height: 0.1em;
  margin: 10px 0 20px;
  opacity: 0.5;
  padding-top: 72px;
}

h5.divider span {
  background:#fff;
  padding:0 50px;
  text-transform: uppercase;
}

input[type="submit"], button[type="submit"] {
  height: 40px;
  line-height: 38px;
  border: 2px solid #fff;
  background: none;
  width: 60%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 0 !important;
}
.input-group-addon i {
  color: #555;
}
.col-centered {
  float: none;
  margin: 0 auto;
  text-align: center;
}
.slider-tick-label-container {
  color: #fff;
}
.input-group.date {
  width: 100%;
}
hr {
  opacity: 0.6;
}
nav.nav-centered .logo {
  max-height: 56px;
  margin: 16px 0 0px 0;
}

.nav-utility {
  height: 30px;
  line-height: 25px;
}

.menu li a, .module.right a {
  text-decoration: none;
}

.mr8 { margin-right: 8px; }
.pl8 { padding-left: 8px; }


/*!---------- 36. FOOTERS ----------*/
footer {
  padding: 64px 0;
}
footer .container {
  padding: 0px 100px;
}
footer.bg-ix{
  background: linear-gradient(90deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
footer.bg-ix h6 {
  color: #fff;
}
footer a {
  text-decoration: none !important;
  color: #fff !important;
}
.footer-1 .logo {
  max-height: 30px;
}
.footer-1 .sub {
  opacity: .5;
}
.social-list {
  margin: 0;
}
.social-list .social-heading {
  font-weight: bolder;
}
.image-bg .social-list a {
  color: #fff;
}
.bg-ix .social-list i,
.image-bg .social-list i {
  color: #fff;
  opacity: .5;
}
.bg-ix .social-list i:hover {
  opacity: 1;
}
.bg-ix .back-to-top {
  border-color: #fff;
}
.bg-ix .back-to-top:active,
.bg-ix .back-to-top:focus {
  color: #fff;
}
.bg-ix .back-to-top:hover {
  background: none;
}
footer img {
  max-width: 60%;
}

@media (min-width: 768px) {

  .page-container.container {
    width: 600px;
    transition: width 0.3s ease-in-out;
  }
}

@media (min-width: 900px) {

  .page-container.container {
    width: 700px;
  }
}

@media (min-width: 992px) {

  .page-container.container {
    width: 800px;
  }
}

@media (min-width: 1100px) {

  .page-container.container {
    width: 900px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1200px) {

  .page-container.container {
    width: 1000px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 1350px) {

  .page-container.container {
    width: 1100px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 1500px) {

  .page-container.container,
  .custom-container {
    width: 1264px;
    padding-left: 0;
    padding-right: 0;
  }
}

/*!---------- 6. BUTTONS ----------*/
.btn {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 2px solid $theme_color;
  padding: 0 26px;
  height: 40px;
  min-width: 150px;
  line-height: 36px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0;
  color: $theme_color;
  text-align: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  margin-right: 8px;
  margin-bottom: 24px;
}

.btn-icon {
  width: 40px;
  height: 40px;
  font-size: 20px;
  min-width: 0;
  padding: 0;
  line-height: 38px;
}

.btn:hover {
  background: $theme_color;
  color: #fff;
}
.btn-filled {
  background: $theme_color;
  color: #fff;
}
.image-bg .btn.btn-filled,
.image-bg .btn-filled:visited {
  border-color: $theme_color;
}
.btn:visited {
  color: $theme_color;
}
.bg-primary .btn:hover {
  background: #fff;
  color: $theme_color;
}

.accordion-1 .active .title {
  background: $theme_color;
  color: #fff;
}
.accordion-1 .active .title:hover {
  background: $theme_color;
}
.button-tabs .active .tab-title {
  background: $theme_color;
  color: #fff;
}
.button-tabs .active .tab-title:hover {
  background: $theme_color;
}
.text-tabs .active .tab-title {
  opacity: 1;
  color: $theme_color;
}
.icon-tabs .active .tab-title {
  color: $theme_color;
  opacity: 1;
}
.icon-tabs .active .tab-title i {
  color: $theme_color;
}
.progress-bar {
  background: $theme_color;
  box-shadow: none !important;
}
.progress-2 .bar-holder {
  height: 16px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid $theme_color;
}

.horizontal-tile:not(:last-of-type) {
  margin: 50px 0px;
}

.horizontal-tile {
  text-align: left;
}

.tile-text {
  width: 60% !important;
}

.tile-image {
  width: 40% !important;
}
