/****** PLACE YOUR CUSTOM STYLES HERE ******/
// #duration-slider .slider-selection {
//   background: #BABABA;
// }
.btn:hover {
  background: #000;
  color: #fff;
}
.btn:visited {
  color: #000;
}
.btn {
  color: #000;
  border: 1px solid #000;
  width: 60%;
}

.flexslider .slides > li {
  height: 250px;
}
.flexslider .slides img {
  height: 250px;
}

h5.divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid grey;
  line-height: 0.1em;
  margin: 10px 0 20px;
  opacity: 0.5;
  padding-top: 72px;
}

h5.divider span {
  background:#fff;
  padding:0 50px;
  text-transform: uppercase;
}
input[type="submit"], button[type="submit"] {
  height: 40px;
  line-height: 38px;
  border: 2px solid #fff;
  background: none;
  width: 60%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 0 !important;
}
.input-group-addon i {
  color: #555;
}
.col-centered {
  float: none;
  margin: 0 auto;
  text-align: center;
}
.slider-tick-label-container {
  color: #fff;
}
.input-group.date {
  width: 100%;
}
hr {
  opacity: 0.6;
}
nav.nav-centered .logo {
  max-height: 56px;
  margin: 16px 0 0px 0;
}

.nav-utility {
  height: 30px;
  line-height: 25px;
}

.menu li a, .module.right a {
  text-decoration: none;
}

.mr8 { margin-right: 8px; }
.pl8 { padding-left: 8px; }


/*!---------- 36. FOOTERS ----------*/
footer {
  padding: 64px 0;
}
footer .container {
  padding: 0px 100px;
}
footer.bg-ix{
  background: linear-gradient(90deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
footer.bg-ix h6 {
  color: #fff;
}
footer a {
  text-decoration: none !important;
  color: #fff !important;
}
.footer-1 .logo {
  max-height: 30px;
}
.footer-1 .sub {
  opacity: .5;
}
.social-list {
  margin: 0;
}
.social-list .social-heading {
  font-weight: bolder;
}
.image-bg .social-list a {
  color: #fff;
}
.bg-ix .social-list i,
.image-bg .social-list i {
  color: #fff;
  opacity: .5;
}
.bg-ix .social-list i:hover {
  opacity: 1;
}
.bg-ix .back-to-top {
  border-color: #fff;
}
.bg-ix .back-to-top:active,
.bg-ix .back-to-top:focus {
  color: #fff;
}
.bg-ix .back-to-top:hover {
  background: none;
}
footer img {
  max-width: 60%;
}
