// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fact-header {
  font-weight: bolder;
}

.answer-info {
  display: none;
}

.destination-info,
.destination-collapse {
  cursor: pointer;
}

.cursive-table-header {
  font-family: cursive;
  font-size: x-large;
  line-height: 40px !important;
  color: black;
}

.info-table-holder {
  top: 60px;
}

.destination-history-tab {
  text-align: left;
}

.destination-info-tab {

  .light-border-right {
    margin-top: 70px;
  }
}

.bgi-watermark {

  .info-table-holder {
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;

    @media (max-width: 450px) {
      padding: 0;
      margin: 0 !important;
    }
  }

  img {
    width: 95%;
    margin-left: 5px;
    transform: rotate(15deg);
    opacity: 0.09;
  }
}

@media only screen and (max-width: 1500px) {

  .info-table-holder {
    margin-top: 100px;
    margin-left: 15px;

    img {
      margin-left: 30px;
      width: 95%;
    }
  }
}

@media only screen and (max-width: 1200px) {

  .bgi-watermark {

    .info-table-holder {
      position: absolute;
      margin-top: 0;
      padding: 0;
      margin-left: 15px;

      img {
        margin-left: 30px;
        width: 95%;
      }
    }
  }

  .destination-info-tab {

    .light-border-right {
      margin-top: 40px;
    }
  }
}

@media only screen and (max-width: 991px) {

  .cursive-table-header {
    line-height: 60px !important;
  }

  .bgi-watermark {

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin: 0;
      width: 70%;
    }
  }
}

@media only screen and (max-width: 767px) {

  .cursive-table-header {
    line-height: 50px !important;
  }
}

@media only screen and (max-width: 600px) {

  .cursive-table-header {
    line-height: 40px !important;
  }

  .bgi-watermark {

    img {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 500px) {

  .cursive-table-header {
    line-height: 35px !important;
  }

  .bgi-watermark {

    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 430px) {

  .cursive-table-header {
    line-height: 30px !important;
  }
}