// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fact-header {
  font-weight: bolder;
}

.cursive-table-header {
  font-family: cursive;
  font-size: x-large;
  line-height: 40px !important;
  color: black;
}

.info-table-holder {
  top: 60px;
}

.destination-history-tab {
  text-align: left;
}

.destination-info-tab {

  .light-border-right {
    margin-top: 70px;
  }
}

.bgi-watermark {

  .info-table-holder {
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;
  }

  img {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 1500px) {

  .bgi-watermark {

    .info-table-holder {
      margin-top: 100px;
      margin-left: 15px;
    }

    img {
      margin-left: 30px;
      width: 95%;
    }
  }
}

@media only screen and (max-width: 1200px) {

  .bgi-watermark {

    .info-table-holder {
      position: absolute;
      margin-top: 0px;
      margin-left: 15px;
    }

    img {
      margin-left: 30px;
      width: 95%;
    }
  }

  .destination-info-tab {

    .light-border-right {
      margin-top: 40px;
    }
  }
}