/*========================================
=            Section tab icons           =
========================================*/

.tabs li {
  vertical-align: top;
}

.icon-tabs .tab__title i {
  min-height: 30px;
}

@media only screen and (max-width: 1200px) {

  .icon-tabs .tabs li {
    //delete important after confirm PR/22 reordering css
    width: 12% !important;
  }
}

@media only screen and (max-width: 991px) {

  .icon-tabs .tabs li {
    //delete important after confirm PR/22 reordering css
    width: 13.5% !important;

    span {
      font-size: 11px;
    }
  }
}

@media only screen and (max-width: 767px) {

  .icon-tabs .tabs li {
    //delete important after confirm PR/22 reordering css
    width: 25% !important;
  }
}

@media only screen and (max-width: 599px) {

  .icon-tabs .tabs li {
    //delete important after confirm PR/22 reordering css
    width: 30% !important;
  }
}

@media only screen and (max-width: 480px) {

  .icon-tabs .tabs li {
    //delete important after confirm PR/22 reordering css
    width: 30% !important;

    span {
      font-size: 10px;
    }
  }
}

/*=====  End of Section tab icons  ======*/

.menu > li:last-child > ul {
  left: 0;
}

.module {
  padding: 0 !important;
  @media (max-width: 768px) {
    padding: 10px !important;
  }
}

.n-bar {
  @media (max-width: 767px) {

    position: absolute;
    z-index: 99999999;
    width: 100%;
    background: #fff;
    text-align: right;

    ul {
      width: 100%;
      margin: 0;
      li {

        a {
          line-height: 40px;
          font-size: 18px;
        }
      }
    }
  }
}

.navbar-collapse {
  padding: 0;
}

.navbar-toggle {
  position: relative;
  z-index: 9999;
  font-size: 18px;
}

.parallax > .background-image-holder {
  height: 100% !important;
}

.background-image-holder.fadeIn {
  top: 0 !important;
}

.module-group.right {
  @media (min-width: 1346px) {
    margin-right: 15px;
  }
}

.error_notification {
  color: #fff;
  margin-top: 18px;
  font-size: 18px;
}

.error {
  color: #fff;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 14px;
}
