/*========================================
=            Section tab icons           =
========================================*/

.tabs li {
  vertical-align: top;
}

.icon-tabs .tab__title i {
  min-height: 30px;
}

@media only screen and (max-width: 1200px) {

  .icon-tabs .tabs li {
    //delete important after confirm PR/22 reordering css
    width: 12% !important;
  }
}

@media only screen and (max-width: 991px) {

  .icon-tabs .tabs li {
    //delete important after confirm PR/22 reordering css
    width: 13.5% !important;

    span {
      font-size: 11px;
    }
  }
}

@media only screen and (max-width: 767px) {

  .icon-tabs .tabs li {
    //delete important after confirm PR/22 reordering css
    width: 25% !important;
  }
}

@media only screen and (max-width: 599px) {

  .icon-tabs .tabs li {
    //delete important after confirm PR/22 reordering css
    width: 30% !important;
  }
}

@media only screen and (max-width: 480px) {

  .icon-tabs .tabs li {
    //delete important after confirm PR/22 reordering css
    width: 30% !important;

    span {
      font-size: 10px;
    }
  }
}

/*=====  End of Section tab icons  ======*/

.menu > li:last-child > ul {
  left: 0;
}

.module {
  padding: 0 !important;
  @media (max-width: 768px) {
    padding: 10px !important;
  }
}

.n-bar {
  @media (max-width: 767px) {

    position: absolute;
    z-index: 99999999;
    width: 100%;
    background: #fff;
    text-align: right;

    ul {
      width: 100%;
      margin: 0;
      li {

        a {
          line-height: 40px;
          font-size: 18px;
        }
      }
    }
  }
}

.navbar-collapse {
  padding: 0;
}

.navbar-toggle {
  position: relative;
  z-index: 9999;
  font-size: 18px;
}

.parallax > .background-image-holder {
  height: 100% !important;
}

.background-image-holder.fadeIn {
  top: 0 !important;
}

.module-group.right {
  @media (min-width: 1346px) {
    margin-right: 15px;
  }
}

.error_notification {
  color: #fff;
  margin-top: 18px;
  font-size: 18px;
}

.error {
  color: #fff;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 14px;
}

.slider.slider-horizontal {
  margin-left: 9px;
}

.string.required.datepicker,
#search_destinations {
  width: 87%;
}

.input.string.required.search_departure_date.select-option.col-md-6 {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 5px;
    right: 55px;
    background-image: url("/icons/calendar.png");
    width: 36px;
    height: 34px;
    z-index: 2;
    pointer-events: none;
  }
}

.input.select.required.search_destinations.select-option.col-md-6 {
  position: relative;

  &:after {
    content: "\e64b";
    color: #8e9083;
    position: absolute;
    font-size: 18px;
    right: 60px;
    top: 15px;
    z-index: 2;
    pointer-events: none;
  }
}

.slider.slider-horizontal {
  width: 85%;
}

.slider-tick-container {

  div:last-child {
    display: none;
  }
}

@media only screen and (max-width: 991px) {

  .slider.slider-horizontal {
    width: 55%;
  }

  .input.string.required.search_departure_date.select-option.col-md-6:after {
    right: 75px;
  }

  .input.select.required.search_destinations.select-option.col-md-6:after {
    right: 80px;
  }
}

@media only screen and (max-width: 600px) {

  .input.string.required.search_departure_date.select-option.col-md-6:after {
    right: 60px;
  }

  .input.select.required.search_destinations.select-option.col-md-6:after {
    right: 65px;
  }
}

@media only screen and (max-width: 500px) {

  .input.string.required.search_departure_date.select-option.col-md-6:after {
    right: 55px;
  }

  .input.select.required.search_destinations.select-option.col-md-6:after {
    right: 60px;
  }
}

.letter {
  &:first-letter {
    text-transform: lowercase !important;
  }
}

