@import "variables";

.no-border {
  border: 0px!important;
  position: relative;
  z-index: 9999;
}

.no-horz-pad {
  padding-left: 0!important;
  padding-right: 0!important;
}
.clear {
  clear: both;
}

.msg {
  font-size: 14px;
  padding: 15px;
  margin-top: 40px;
  border: 1px solid #fc8a51;
}

.not-clearI {
  clear: none!important;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.m-md-flex-column-reverse {
  @media only screen and (max-width: 991px){
    flex-direction: column-reverse;

  }
}

.flex-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.lg-flex {
  display: block;
  @media only screen and (max-width: 1920px) and (min-width: 1200px) {
    display: flex;
  }
}

.md-flex {
  display: block;
  @media only screen and (max-width: 1920px) and (min-width: 992px) {
    display: flex;
  }
}

.no-mb {
  margin-bottom: 0!important;
}

.mb12i {
  margin-bottom: 12px!important;
}

.lg-flex {
  display: block;
  @media only screen and (max-width: 1920px) and (min-width: 1200px) {
    display: flex;
  }
}

.md-flex {
  display: block;
  @media only screen and (max-width: 1920px) and (min-width: 992px) {
    display: flex;
  }
}

.lg-flex {
  display: block;
  @media only screen and (max-width: 1920px) and (min-width: 1200px) {
    display: flex;
  }
}

.md-flex {
  display: block;
  @media only screen and (max-width: 1920px) and (min-width: 992px) {
    display: flex;
  }
}

.mb65 {
  margin-bottom: 65px;
}

.pl16 {
  padding-left: 16px;
}

.pt16i {
  padding-top: 16px !important
}

.relative {
  position: relative;
}

a {
  color: $theme_color;
}

.down-border-arrow {
  width: 15px;
  height: 15px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  margin: 0 auto;
}

a.btn.btn-filled {
  color: #fff;
  border-color: $theme_color;
  background-color: $theme_color;
  font-size: 24px;
  font-weight: 400;

  &:hover {
    color: $theme_color;
    background-color: transparent;
  }
}

a.btn {
  color: $theme_color;
  border-color: $theme_color;

  &:hover {
    color: #fff;
    background-color: $theme_color;
  }
}


a.btn.btn-voyage-filled {
  color: #fff;
  background-color: $voyage_color;
  border-color: $voyage_color;

  &:hover {
    background-color: #fff;
    color: $voyage_color;
  }
}

a.btn.btn-voyage {
  color: $voyage_color;
  border-color: $voyage_color;

  &:hover {
    color: #fff;
    background-color: $voyage_color;
  }
}

.over-auto {
  overflow: auto;
}

.btn-filled {

  &:hover {
    background-color: #fff;
    color: $theme_color;
  }
}


input[type="submit"].btn-voyage {
  color: $voyage_color;
  border-color: $voyage_color;

  &:hover {
    color: #fff;
    background-color: $voyage_color;
  }
}

.btn-short {
  max-width: 170px;
}

.btn-h-50 {
  height: 50px;
}

.theme-header {
  color: $theme_color;
  font-weight: 500;
}

.w-1030 {
  width: 1030px;
}

.m-center {
  margin-left: auto;
  margin-right: auto;
}

hr.bold-short-line {
  width: 90px;
  border-bottom: 3px solid $voyage-color;
  margin: 0 auto;
  margin-bottom: 60px;
  opacity: 1;
}

.w-100 {
  width: 100%!important;
}

.voyage-overview-tab,
.voyage-vessel-tab,
.destination-info-tab,
.ship-vessel-tab,
.ship-cabins-tab {
  text-align: left;

  p:first-of-type {
    font-size: 1.25em;
  }
}

.watermark-background {
  -ms-transform: rotate(13deg); /* IE 9 */
  -webkit-transform: rotate(13deg); /* Chrome, Safari, Opera */
  transform: rotate(13deg);
  opacity: 0.1 !important;
  height: 215%;
  left: -60px;
  top: -40%;
}

#mc_embed_signup {
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
}

a.btn.btn-voyage-filled {
  color: #fff;
  background-color: $voyage_color;
  border-color: $voyage_color;

  &:hover {
    background-color: #fff;
    color: $voyage_color;
  }
}

a.btn.btn-voyage {
  color: $voyage_color;
  border-color: $voyage_color;

  &:hover {
    color: #fff;
    background-color: $voyage_color;
  }
}

.tooltip {
  z-index: 1;
}

.overflow {
  overflow: auto;
}

@media only screen and (min-width: 992px) {

  .container-max-935 {
    width: 935px;
  }
}

@media only screen and (min-width: 1201px) {

  .container-max-lg-1030 {
    width: 1030px;
  }
}

.view-price {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  margin-top: 26px;
  font-size: 25px;
}

/*===========================================================
=            Section comment presentation-header            =
===========================================================*/

.presentation-header {
  height: 600px;
  background-position: center center;
  background-size: cover;

  h1 {
    float: left;
    font-size: 110px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
    margin-left: -111px;
    margin-top: auto;
    margin-bottom: 115px;
  }
}

@media only screen and (max-width: 1800px) {

  .presentation-header {

    .large-container {
      width: 100%;

      h1 {
        margin-left: 2.5%;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {

  .presentation-header .large-container h1 {
    font-size: 80px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 767px) {

  .presentation-header {
    height: 400px;

    .large-container {

      h1 {
        margin-left: 0.5%;
        margin-bottom: 65px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {

  .presentation-header {
    height: 300px;

    .large-container {

      h1 {
        font-size: 60px;
        line-height: 1;
      }
    }
  }
}

.input.select {
  position: relative;
}

.input.select:after {
  content: "\e64b";
  font-family: 'themify';
  color: #cacac9;
  position: absolute;
  font-size: 18px;
  right: 20px;
  top: 42px;
  z-index: 2;
  pointer-events: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.label-in {
  input[type="text"],
  input[type="password"],
  input.date.datepicker,
  select,
  textarea {
    padding-left: 20px;
    background: transparent;
    border: 1px solid $border_color;
    font-size: 16px;
    border-radius: 0;

    &:hover {
      border: 1px solid $border_color;
    }

    &:active {
      border: 1px solid $border_color;
    }

    &:focus {
      background: transparent;
      border: 1px solid $border_color;

    }
  }
}

/*=====  End of Section comment presentation-header  ======*/

/*====================================
=            Section tabs            =
====================================*/

.tabbed-content.button-tabs {
  ul.tabs {
    display: flex;
    align-items: stretch;

    & > li {
      width: 20%;

      &.active div.tab-title {
        background-color: $voyage-color;
        color: #fff;
      }

      .tab-title {
        min-width: inherit;
        width: calc(100% - 3px);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ebebeb;
        color: $voyage-color;
        font-size: 13px;

        &:hover {
          background-color: #f9f9f9;
        }

        span {
          line-height: 17px;
          text-transform: none;
          font-weight: 500;
        }
      }
    }
  }
}

/*=====  End of Section tabs  ======*/

/*=========================================
=            Section accordion            =
=========================================*/

.expand {

  h5 {
    color: $voyage_color;
    font-weight: 500;
    margin-bottom: 15px;

    span {
      font-size: 27px;
      position: relative;
      top: 1px;

      &.relative {
        top: 3px;
      }
    }
  }
}

ul.accordion {

  & > li {
    border: 1px solid $accordeon_border_color;
    margin-bottom: 15px;
  }

  .title {
    position: relative;
    border-bottom: none;
    border-bottom: none;

     &:hover {
      background-color: transparent;
    }

    span {
      padding-left: 50px;
      display: block;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 18px;
    }

    &:before {
      content: '\e61a';
      font-size: 35px;
      color: $accordeon_border_color;
      position: absolute;
      font-family: 'themify';
      top: 10px;
      left: 8px;
    }
  }

  .content {
    border-top: none;
    padding-left: 50px;
    padding-right: 40px;
  }

  .active {
    border: none;

    .title {
      background-color: $voyage_color;

      span {
        color: #fff;
      }

      &:before {
        content: '\e622';
        color: #fff;
      }
    }

    .content {
      border: 1px solid $accordeon_border_color;
      border-top: none;
      height: auto;
      max-height: inherit;
      padding-bottom: 20px;

      ul,
      ol {
        padding-left: 16px;
        padding-top: 16px;

        ul {
          padding-top: 0px;
        }
      }

      p {
        margin-bottom: 0;
        padding-bottom: 0;
        color: #000;
      }

      table {
        margin-top: 16px;
        width: 100%;

        td {
          border: 1px solid #000;
          text-align: center;
        }
      }

      .faq-width-65 {
        width: 65px;
        display: block;
        float: left;
      }
    }
  }
}

/*=====  End of Section accordion  ======*/

.label-in label {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #000;
}

#display-tr {
  display: none;
}

/*=====  End of Section alert-messages  ======*/
.input.select {
  position: relative;
}

.input.select:after {
  content: "\e64b";
  font-family: 'themify';
  color: #cacac9;
  position: absolute;
  font-size: 18px;
  right: 20px;
  top: 42px;
  z-index: 2;
  pointer-events: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

/*==============================================
=            Section alert-messages            =
==============================================*/

#success_message, #error_message {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 20;
  margin-left: 10px;
  background-color: #fff;
  display: none;

  .close {
    margin-bottom: 0;
  }
}

/*=====  End of Section alert-messages  ======*/

/*====================================
=            Section tabs            =
====================================*/

.tabbed-content.button-tabs {
  ul.tabs {
    display: flex;
    align-items: stretch;

    & > li {
      width: 20%;

      &.active div.tab-title {
        background-color: $voyage-color;
        color: #fff;
      }

      .tab-title {
        min-width: inherit;
        width: calc(100% - 3px);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ebebeb;
        color: $voyage-color;
        font-size: 13px;

        &:hover {
          background-color: #f9f9f9;
        }

        span {
          line-height: 17px;
          text-transform: none;
          font-weight: 500;
        }
      }
    }
  }
}

/*=====  End of Section tabs  ======*/

/*=========================================
=            Section accordion            =
=========================================*/

.tabbed-content {

  h5 {
    color: $voyage_color;
    font-weight: 500;
    margin-bottom: 15px;
    &.open-all,
    &.close-all {
      cursor: pointer;
    }

    span {
      font-size: 27px;
      position: relative;
      top: 1px;

      &.relative {
        top: 3px;
      }
    }
  }
}

ul.accordion {

  & > li {
    border: 1px solid $accordeon_border_color;
    margin-bottom: 15px;
  }

  .title {
    background-color: transparent;
    position: relative;
    border-bottom: none;

    &:hover {
      background-color: transparent;
    }

    span {
      padding-left: 50px;
      display: block;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 18px;
    }

    &:before {
      content: '\e61a';
      font-size: 35px;
      color: $accordeon_border_color;
      position: absolute;
      font-family: 'themify';
      top: 10px;
      left: 8px;
    }
  }

  .content {
    border-top: none;
    padding-left: 50px;
    padding-right: 40px;
  }

  .active {
    border: none;

    .title {
      background-color: $voyage_color;

      span {
        color: #fff;
      }

      &:before {
        content: '\e622';
        color: #fff;
      }
    }

    .content {
      border: 1px solid $accordeon_border_color;
      border-top: none;
      height: auto;
      max-height: inherit;
      padding-bottom: 20px;

      ul,
      ol {
        padding-left: 16px;
        padding-top: 16px;

        ul {
          padding-top: 0px;
        }
      }

      p {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      table {
        margin-top: 16px;
        width: 100%;

        td {
          border: 1px solid #000;
          text-align: center;
        }
      }

      .faq-width-65 {
        width: 65px;
        display: block;
        float: left;
      }
    }
  }
}

/*=====  End of Section accordion  ======*/
