@import "variables";

.no-border {
  border: 0px!important;
}

.no-horz-pad {
  padding-left: 0!important;
  padding-right: 0!important;
}
.clear {
  clear: both;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.mb12i {
  margin-bottom: 12px!important;
}

.mb65 {
  margin-bottom: 65px;
}

.pt16i {
  padding-top: 16px !important
}

a {
  color: $theme_color;
}

.theme-header {
  color: $theme_color;
  font-weight: 500;
}

.voyage-overview-tab, .voyage-vessel-tab,
.destination-info-tab, .ship-vessel-tab,
.ship-cabins-tab {
  p:first-of-type {
    font-size: 1.25em;
  }
  text-align: left;
}

.watermark-background {
  -ms-transform: rotate(13deg); /* IE 9 */
  -webkit-transform: rotate(13deg); /* Chrome, Safari, Opera */
  transform: rotate(13deg);
  opacity: 0.1 !important;
  height: 215%;
  left: -60px;
  top: -40%;
}

#mc_embed_signup{
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
}
