$voyage_color: #0d4863;
$date_color: #084863;
$ship_color: #464646;
$border_color: #cacac9;
$sale_color: #e8202a;
$theme_color: #466a7e;
$sub_header_color1: #06b2b8;
$sub_header_color2: #00bce0;
$placeholder-color: #a1a1a1;
$linl_hover: #47b475;
$accordeon_border_color: #8ad6f7;
