// Place all the styles related to the voyages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.voyage-overview-tab, .voyage-vessel-tab {
  p:first-of-type {
    font-size: 1.25em;
  }
  text-align: left;
}

.table-header {
  color: $theme_color;
  font-weight: bolder;
}

.voyage-explore-button {
  padding: 0px !important;
}

.light-border-right {
  border-right: 1px solid lightgrey;
}

.table {
  border-bottom: 1px solid #ddd;
}