.dashboard-sidebar {
  h4 {
    margin-top: 65px;

    a {
      color: #000;
      text-transform: uppercase;
      font-weight: 400;
    }
  }

  h5 {
    text-transform: uppercase;
    margin-top: 96px;
    font-weight: 600;
  }

  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:hover,
  .nav-tabs>li.active>a:focus {
    color: #000;
    border: none;
    font-size: 18px;
    font-weight: 600;
  }

  .nav-tabs>li > a,
  .nav-tabs>li > a:hover,
  .nav-tabs>li > a:focus {
    font-weight: 400;
    color: #000;
    border: none;
    font-size: 17px;
  }

  .nav-tabs {
    border-bottom: 0;
    padding-left: 11px;
  }
}

@media only screen and (max-width: 991px) {

  .dashboard-sidebar {
    h4 {
      margin-top: 50px;
    }

    h5 {
      margin-top: 40px;
    }
  }
}